<h3>{{ title | uppercase }}</h3>

<!-- <img [src]="imageUrl" class="img-fluid"/> -->

<ul>
    <li *ngFor="let item of mailList">
        {{ item }}
    </li>
</ul>

<button class="btn btn-primary" [class.active]="isActive" (click)="onSave($event)">Save</button>
<button [style.backgroundColor]="isActive ? 'green' : 'red' ">Delete</button>
<!-- <input [value]="email" (keyup.enter)="email = $event.target.value; onKeyUp()" /> -->
<input [(ngModel)]="email" (keyup.enter)="onKeyUp()" />
<p> {{ price | currency:'EUR':true:'3.2-2' }} </p>
<p> {{ text | summary: 20 }} </p>   <!-- custom pipe -->

